.contents_wrap {padding:60px 0;}
.contents_wrap .row div {padding:0 15px;}
.txt_point {display:block;font-size:18px;font-weight:bold;color:#4078c0;padding-bottom:40px;}
.visual{min-width:1020px;height:200px;margin-top:96px;padding-top:80px;}
.visual.about{background:url(../images/visual_about.jpg) no-repeat 50% 0;}
